*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.carousel-item img{
    width: 100%;
    height: 93vh;
}
.about-img{
    max-height: 284px;
    min-width: 100%;
}

.MJ{
   background-image: url("lycs-architecture-kUdbEEMcRwE-unsplash.jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.MJ p{
    color: white;
}
.services img{
    width: 100%;
    height: 100%;
}

.l{
    background-color: rgb(247, 247, 247);
}











