*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar{
    position: relative;
    z-index: 3 !important;
}
.carousel-item img{
    width: 100%;
    height: 93vh;
}
.about-img{
    max-height: 284px;
    min-width: 100%;
}

.MJ{
    isolation: isolate;
   background-image: url("lycs-architecture-kUdbEEMcRwE-unsplash.jpg");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.MJ p{
    color: white;
}
.services img{
    width: 100%;
    height: 100%;
}

.l{
    background-color: rgb(247, 247, 247);
}

@media (max-width: 576px) {.carousel-item img{    width: 100%;
    height: 50vh;}}
@media (max-width: 786px) {.carousel-item img{    width: 100%;
    height: 55vh;}}
@media (max-width: 992px) {.carousel-item img{    width: 100%;
    height: 60vh;}}
@media (max-width: 1200px) {.carousel-item img{    width: 100%;
    height: 70vh;}}



#preloader{
    background: #000 url("7a8f8d634013568124e130728834d47a.gif") no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100 !important;
}